/* Pallette: https://coolors.co/palette/ccd5ae-e9edc9-fefae0-faedcd-d4a373 */

body {
  font-family: Arial, sans-serif;
  background-image: url("/static/assets/bg.png");
  background-repeat: repeat;
}

h1,
h2 {
  text-align: center;
  color: #a35f4d;
}

footer {
  text-align: center;
  margin-top: 40px;
}

/* Bookmark display */

.bookmark {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 5px;
  padding-bottom: 20px;
  background-color: rgba(254, 250, 224, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #D4A373;
  transition: background-color 0.3s ease-in-out;
}

.bookmark:hover {
  background-color: rgba(254, 250, 224, 1);
}

.bookmark__title {
  font-size: 20px;
  font-weight: bold;
}

.bookmark__url {
  font-size: 14px;
  font-weight: bold;
}

.bookmark__date {
  font-size: 12px;
  font-style: italic;
}

.bookmark__category {
  font-size: 12px;
  font-weight: bold;
}

.bookmark__description {
  font-size: 14px;
}

.bookmark__tags {
  font-size: 12px;
  font-style: italic;
  margin-top: 10px;
}

.bookmark a {
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
  transform: translateY(0);
  color: inherit;
}

.bookmark a:hover {
  color: #D4A373;
  transform: translateY(-5px);
}

.bookmark a::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  height: 2px;
  width: 0;
  transition: width 1s ease, height 0.3s ease;
  background-color: #D4A373;
}

.bookmark a:hover::after {
  width: 100%;
}

/* Pagination */
.pagination {
  list-style: none;
  padding: 0;
  text-align: center;
}

.pagination li {
  display: inline;
  margin-right: 5px;
}

.pagination a {
  padding: 5px 10px;
  text-decoration: none;
  color: #000;
  border-radius: 0;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out;
  transform: scale(1), translateY(0);
}

/* TODO: Transform not working */
.pagination a:hover {
  border-radius: 10px;
  background-color: #ddd;
  transform: translateY(-5px), scale(1.05);
}

/* Main menu navigation */
#menu-bar {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#menu-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-bar-item {
  margin: 0 1em;
  transform: scale(1) translateY(0);
  transition: all 0.3s ease-in-out;
}

.menu-bar-item:hover {
  transform: scale(1.05) translateY(-5px);
}

.main-menu-link {
  text-decoration: none;
  font-size: 1.2em;
  color: #000;
  padding: 1em;
  border-radius: 10px;
  background-color: #CCD5AE;
  transition: inherit;
  text-align: center;
}

.main-menu-link:hover {
  color: #D4A373;
  background-color: #E9EDC9;
}

/* Similar sort of thing for the categories/tags lists */
.categories,
.tags {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.categories ul,
.tags ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu-bar-item {
  margin: 0.1em;
  transform: scale(1) translateY(0);
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  display: flex;
  margin-top: 10px;
}

.menu-bar-item:hover {
  transform: scale(1.05) translateY(-5px);
}

.nav-item {
  text-decoration: none;
  font-size: 0.8em;
  color: #000;
  padding: 1em;
  border-radius: 2em;
  background-color: #CCD5AE;
  transition: inherit;
}

/* TODO: Why is this not working? */
.nav-item:hover {
  color: #D4A373;
  background-color: #E9EDC9;
}

/* For nav items that have the selected class */
.nav-item.selected {
  color: #D4A373;
  background-color: #E9EDC9;
  transform: translateY(-5px);
}

.nav-item.selected:hover {
  color: #D4A373;
  background-color: #E9EDC9;
}

/* Form styles */
/* Form containing the re-roll button */
#reroll {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

/* This is the div for the randomiser */
#randomiser {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: auto;
  margin-top: 40px;
  background-color: rgba(254, 250, 224, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #D4A373;
  transition: background-color 0.3s ease-in-out;
}

#randomiser label,
#randomiser select,
#randomiser option,
#randomiser input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10px;
}

#randomiser form {
  margin: auto;
  padding: 10px;
}

#randomiser:hover {
  background-color: rgba(254, 250, 224, 1);
}

/* Style the actual buttons */
input {
  padding: 10px;
  border-radius: 10px;
  background-color: #CCD5AE;
  color: #000;
  border: none;
  transition: all 0.3s ease-in-out;
}

input:hover {
  background-color: #E9EDC9;
  color: #D4A373;
  transform: translateY(-5px);
  cursor: pointer;
}

select {
  padding: 10px;
  border-radius: 10px;
  background-color: #CCD5AE;
  color: #000;
  border: none;
  transition: all 0.3s ease-in-out;
}
