{% for bookmark in bookmarks %}
<div class="bookmark">
  <div class="bookmark__title"><a href="{{ bookmark.url }}" target="_blank">{{ bookmark.title }}</a></div>
  <div class="bookmark__url">URL: <a href="{{ bookmark.url }}" target="_blank">{{ bookmark.url }}</a></div>
  <div class="bookmark__date">{{ bookmark.add_date }}</div>
  <div class="bookmark__category">{{ bookmark.folder }}</div>
  {% if bookmark[8] %}
  <div class="bookmark__description">{{ bookmark.description }}</div>
  {% endif %}
  {% if bookmark.tags %}
  <div class="bookmark__tags">{{ ', '.join(bookmark.tags) }}</div>
  {% endif %}
</div>
{% endfor %}

{% include "html/pagination.html" %}
