{% for bookmark in bookmarks %}
<div class="bookmark">
  <div class="bookmark__title"><a href="{{ bookmark.url }}" target="_blank">{{ bookmark.title }}</a></div>
  <div class="bookmark__url">URL: <a href="{{ bookmark.url }}" target="_blank">{{ bookmark.url }}</a></div>
  {% if bookmark.description %}
  <div class="bookmark__description">{{ bookmark.description }}</div>
  {% endif %}
  <div class="bookmark__date">{{ bookmark.add_date }}</div>
  <div class="bookmark__category">{{ bookmark.folder }}</div>
  {% if bookmark.tags %}
  <div class="bookmark__tags">{{ ', '.join(bookmark.tags) }}</div>
  {% endif %}

  <!-- If random = True we're on the randomiser page so insert the re-roll button -->
  {% if random %}
  {% include "html/reroll_form.html" %}
  {% endif %}

</div>
{% endfor %}

{% if page %}
{% include "html/pagination.html" %}
{% endif %}
