{% extends "html/base_template.html" %}

{% block title %}Ed's Bookmark Page{% endblock %}

{% block content %}

<div class="categories">
  <ul>
    {% for c, count in categories %}
    {% if category == c %}
    <li class="menu-bar-item"><a href=" {{ url_for('categories', category=c) }}" class="nav-item selected">{{
        c }} ({{ count }})</a>
    </li>
    {% else %}
    <li class="menu-bar-item"><a href=" {{ url_for('categories', category=c) }}" class="nav-item">{{ c }} ({{ count
        }})</a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

{% if category %}
{% include "html/bookmarks_template.html" %}
{% endif %}

{% endblock %}
