{% extends "html/base_template.html" %}

{% block title %}Ed's Bookmark Page{% endblock %}

{% block content %}

<div class="tags">
  <ul>
    {% for t in tags %}
    {% if tag == t %}
    <li class="menu-bar-item"><a href=" {{ url_for('tags', tag=t) }}" class="nav-item selected">{{ t }}</a></li>
    {% else %}
    <li class="menu-bar-item"><a href=" {{ url_for('tags', tag=t) }}" class="nav-item">{{ t }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

{% if tag %}
{% include "html/bookmarks_template.html" %}
{% endif %}

{% endblock %}
